footer.footer
  .footer__logo
    img(src='/img/logo.png' alt='Stucamp logo')
  ul.footer__nav
    li: a(href='#') About us
    li: a(href='#') Download apps
    li: a(href='#') Become a care taker
    li: a(href='#') Careers
    li: a(href='#') Contact
  - const d = new Date().getFullYear();
  p.footer__copyright &copy; stuCamp #{d}
  
