header.header
  nav.nav.nav--hostel
    a.nav__el.logo__font(href='/')
      img(src='/img/logo.png' alt='Stucamp logo')

  nav.nav.nav--user
    a.nav__el(href='/') Home
    a.nav__el(href='/hostel') Explore hostels
    a.nav__el(href='/about-us') About Us
    a.nav__el(href='/contact-us') Contact Us
  
  nav.nav.nav--user
    if user
      a.nav__el.nav__el--logout Log out
      a.nav__el(href='/me')
        img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
        span= user.name.split(' ')[0]
    else
      a.nav__el(href='/login') Log in
      a.nav__el.nav__el--cta(href='#') Sign up