doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Stucamp | #{title}
    link(rel='stylesheet', href='/css/styles.css')
    link(rel="shortcut icon", type='image/png' href='/img/favicon.png')
    //- link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
  body 
    // HEADER
    include _header
    
    // CONTENT
    block content
      h1 This is a placeholder
    
    // FOOTER
    include _footer
    
    //- script(src='./node_modules/axios/dist/axios.min.js')
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js") 
    script(src='/js/login.js')
    script(src='/js/carousel.js')
    //- script(src='/js/searchHostel.js')
    

    //- h1= hostel.toUpperCase()
    //- - const location = 'Tanke'
    //- h2= user
    //- p=location